# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio
.vs/
*.vcxproj.user
*.dbmdl
*.jfm

# VSCode
.vscode/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
# NuGet v3's project.json files produces more ignorable files
#*.project.lock.json
#*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msix
*.msixbundle
*.appx
*.appxbundle
*.msmg
*.msmlg
*.msixml
*.msixmg

# Windows shortcuts
*.lnk
Tests/Coverage/XML/coverage.cobertura.xml
